torch==2.2.0+cu118
torchvision==0.17.0+cu118
torchaudio==2.2.0+cu118
pytorch-lightning>=2.0.0
numpy==1.26.0
matplotlib>=3.7.0
opencv-python>=4.7.0.72
pydicom>=2.3.0
PyWavelets>=1.4.1
einops>=0.6.0
pydantic>=2.0
tabulate>=0.9.0
tensorboard>=2.12.0
